# Binaries
alizia-api
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
coverage.out
coverage.html

# Build
tmp/

# Environment
.env

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
